{% extends 'base.html.twig' %}
{% block body %}


    <div class="row">
        <div class="col-xs-12 col-md-8"></div>
        <div class="col-xs-6 col-md-4"></div>
    </div>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-xs-6 col-md-4"></div>
        <div class="col-xs-6 col-md-4">
            <h1>Welcome to GradeTrader</h1>
            <p>We hope to make your stay as much educational and fun as possible</p>
            <p><a class="btn btn-primary btn-lg" href="/gt/play" role="button">Its me Mario!</a></p>
            <p><a class="btn btn-primary btn-lg" href="/tester/2" role="button">Julian & Paul & Justin</a></p>
        </div>
        <div class="col-xs-6 col-md-4"></div>
    </div>


{% endblock %}